RewriteEngine on

RewriteCond %{REQUEST_URI} ^/vx/$
RewriteRule (.*) vendor/mathsgod/puxt-vx/www/index.html [END]

RewriteCond %{REQUEST_URI} ^/vx/api/
RewriteRule (.*) index.php [END]

RewriteRule ^$ vendor/mathsgod/puxt-vx/www [L]
RewriteRule (.*) vendor/mathsgod/puxt-vx/www/$1 [L]
